.form-element {
    display: block;
}

.form-element-label {
    font-weight: bold;

    display: inline-block;

    min-width: 150px;
    padding-right: 5px;

    text-align: right;
}

form select {
    padding: 4px 6px;

    cursor: pointer;

    border: 1px solid #4c97ca;
    -webkit-border-radius: 0;
            border-radius: 2px;
    background: #fff;

    -webkit-appearance: none;
}

form input {
    padding: 4px 6px;
    width: 200px;

    cursor: pointer;

    border: 1px solid #4c97ca;
    -webkit-border-radius: 0;
    border-radius: 2px;
    background: #fff;

    -webkit-appearance: none;

}

.biography {
    height:60px;
    width: 300px;
}

#add-actor {
    display: none;
}

.invalid {
    border: 1px solid crimson;
}

.text-invalid {
    color:crimson;
}