header {
    padding: 0 30px;
}

header > * {
    display: inline-block;
    float: left;
}

#header-logo {
    width: 40px;
    padding: 10px;
}

#header-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;

    margin: 0;
    padding: 0 6px;
}

#header-auth {
    float: right;

    margin: 15px;
}

#Logout {
    float: right;
    margin-left: 10px;
    color: white;
    padding: 10px;
    border: solid 2px whitesmoke;
    display: none;
    width: content-box;
    text-align: center;

}
#Logout:hover {
    color:red;
    border: solid 2px white;
    text-decoration: none;
}

#hello {
    float: right;
    padding: 10px;
    margin: 10px;
    color: white;
    display: none;
    font-size: 22px;
    font-family: "Bradley Hand";
}

#hello:hover {
    text-decoration: none;
}
