{% extends "layout.html" %}
{% block content %}

    <section>
        <h1 class="title text-center">Welcome page</h1>
        <div class="card">
            <h2>Welcome TV show lovers!</h2>
            <p>This great site is happy to bring you your favourite TV show's <i>details</i>.</p>
            <p></p>
            <p>Okay, actually this is a designed dumb page without any logic.</p>
            <p>You can find a navigational element, the so called "breadcrumb" above the page's title. Use it for
                in-depth
                navigation.
            </p>
        </div>
        <div class="card" id="menu">
            <span class="sort_form" >
                <form action="/shows_by_genre" method="post">
                    <label for="genre">Display shows from genre:</label><br><br>
                    <select id="genre" name="genre">
                        {%  for genre in genres %}
                        <option value="{{genre.name}}">{{ genre.name }}</option>
                        {%  endfor %}
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </span>
        </div>
        <div class="card">
            <b>List of all shows</b>
            <button type="button" id = "previous" style="margin-left: 10px" onclick="mainpage.showPreviousPage()">Previous page</button>
            <button type="button" id = "next" onclick="mainpage.showNextPage()">Next page</button>

            <table>
                <thead>
                <tr>
                    <th><i class=" sort far fa-caret-square-down" onclick="sort.sortByAlphabeticalOrder('desc', 'title')"></i>Show<i class=" sort far fa-caret-square-up" onclick="sort.sortByAlphabeticalOrder('asc', 'title')"></i></th>
                    <th><i class=" sort far fa-caret-square-down" onclick="sort.sortByNumericOrder('desc','year')"></i>Release year<i class=" sort far fa-caret-square-up" onclick="sort.sortByNumericOrder('asc','year')"></i></th>
                    <th><i class=" sort far fa-caret-square-down" onclick="sort.sortByNumericOrder('desc','runtime')"></i>Runtime<i class=" sort far fa-caret-square-up" onclick="sort.sortByNumericOrder('asc','runtime')"></i></th>
                    <th><i class=" sort far fa-caret-square-down" onclick="sort.sortByAlphabeticalOrder('desc', 'genre')"></i>Genres<i class=" sort far fa-caret-square-up" onclick="sort.sortByAlphabeticalOrder('asc', 'genre')"></i></th>
                    <th><i class=" sort far fa-caret-square-down" onclick="sort.sortByNumericOrder('desc','rating')"></i>Rating<i class=" sort far fa-caret-square-up" onclick="sort.sortByNumericOrder('asc','rating')"></i></th>
                    <th>Trailer</th>
                    <th>WWW</th>
                    <th>Seasons</th>
                    <th class="action-column">#</th>
                </tr>
                </thead>
                <tbody id="shows_mainpage">
                </tbody>
            </table>
        </div>
    </section>
<div class="bg-modal" id="loading-modal">
    <div class="modal-contents">
        <header id="loading"></header>
        <h3>Loading...</h3>
        <i class="fas fa-spinner"></i>
    </div>
</div>
<div class="bg-modal" id="seasons-modal">
    <div class="modal-contents">

        <div class="close" onclick="dom.hideSeasonsModal()">+</div>
        <div id="seasons-header"></div>
        <table>
            <thead>
            <tr>
                <th scope="col">Season title</th>

            </tr>
            </thead>
            <tbody id="table-seasons">


            </tbody>
        </table>


    </div>

{%  endblock %}